#nav_top{
    background-color: #000000;
    color: #ffffff;
    padding: 0 20px;
    position: sticky;
    top: 0;
    z-index: 9999;
    height: auto;
    padding: 10px;
    
}
.main-nav {
  height: 18vh;
  width: 90%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.02);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5%;
  /* padding: 10px; */
  position: fixed;
  top: 40px;
  z-index: 100;
}
#diva-logo {
  height: 16vh;
  width: 15vw;

}
.nav-links {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: space-around;
  /* font-size: 24px; */
  color: #333;
}

.nav-links li {
  position: relative;
  width: 120px;
  height: 40px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column;
  justify-content: center;
  border: none;
  padding: 12px;
  margin: 10px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 100%;
  font-weight: 600;
}

.nav-links .nav-link::before {
  content: "";
  position: absolute;
  inset: 0;
  left: -4px;
  top: -1px;
  margin: auto;
  width: 128px;
  height: 48px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #ffcfb3 0%, #b7e0ff 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.nav-links .nav-link::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #ffcfb3 0%, #b7e0ff 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.nav-links .nav-link:hover::after {
  filter: blur(30px);
}

.nav-links .nav-link:hover::before {
  transform: rotate(-180deg);
}

.nav-links .nav-link:active::before {
  scale: 0.7;
}
/* slider section  */

.slider {
  height: 100vh;
  margin-top: -10px;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.slider .list .item {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0 0 0 0;
}

.slider .list .item img {
  margin: 0.5%; 
  width: 98%;
  height: 90%;
  border: 0.5px solid black;
  filter: blur(3px);



  /* position: center-center;


  /* object-fit: cover; */
}

.slider .list .item .content {
  position: absolute;
  top: 20%;
  width: 1140px;
  max-width: 80%;
  left: 50%;
  transform: translateX(-50%);
  padding-right: 30%;
  box-sizing: border-box;
  color: #0a0a0a;
  text-shadow: 0 5px 10px #0004;
}

.slider .list .item .content .title,
.slider .list .item .content .position {
  font-size: 5em;
  font-weight: bold;
  line-height: 1.3em;
}

.slider .list .item .position {
  color: #14ff72cb;
text-shadow: 0;
}

.slider .list .item .content .description {
  font-size: 18px;
  line-height: 1.6em;
  color: #000000;
  line-height: 20px;
}

.slider .list .item .button {
  display: grid;
  grid-template-columns: repeat(2, 130px);
  grid-template-rows: 40px;
  gap: 5px;
  margin-top: 20px;
}

.slider .list .item .button button {
  border: none;
  background-color: #eee;
  font-family: Poppins;
  font-weight: 500;
  cursor: pointer;
  transition: 0.4s;
  letter-spacing: 2px;
}

.slider .list .item .button button:hover {
  letter-spacing: 3px;
}

.slider .list .item .button button:nth-child(2) {
  background-color: transparent;
  border: 1px solid #fff;
  color: #eee;
}

/* Thumbnail Section  */
.thumbnail {
  position: absolute;
  bottom: 50px;
  left: 50%;
  width: max-content;
  z-index: 100;
  display: flex;
  gap: 20px;
}

.thumbnail .item {
  width: 150px;
  height: 220px;
  flex-shrink: 0;
  position: relative;
}

.thumbnail .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3);
}

/* nextPrevArrows Section  */
.nextPrevArrows {
  position: absolute;
  top: 80%;
  right: 52%;
  z-index: 100;
  width: 300px;
  max-width: 30%;
  display: flex;
  gap: 10px;
  align-items: center;
}

.nextPrevArrows button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #14ff72cb;
  border: none;
  color: #fff;
  font-family: monospace;
  font-weight: bold;
  transition: 0.5s;
  cursor: pointer;
}

.nextPrevArrows button:hover {
  background-color: #fff;
  color: #000;
}

/* Animation Part */
.slider .list .item:nth-child(1) {
  z-index: 1;
}

/* animation text in first item */
.slider .list .item:nth-child(1) .content .title,
.slider .list .item:nth-child(1) .content .position,
.slider .list .item:nth-child(1) .content .description,
.slider .list .item:nth-child(1) .content .buttons {
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent 0.5s 1s linear 1 forwards;
}

@keyframes showContent {
  to {
    transform: translateY(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.slider .list .item:nth-child(1) .content .title {
  animation-delay: 0.4s !important;
}

.slider .list .item:nth-child(1) .content .position {
  animation-delay: 0.6s !important;
}

.slider .list .item:nth-child(1) .content .description {
  animation-delay: 0.8s !important;
}

.slider .list .item:nth-child(1) .content .buttons {
  animation-delay: 1s !important;
}

/* Animation for next button click */
.slider.next .list .item:nth-child(1) img {
  width: 150px;
  height: 220px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  border-radius: 30px;
  animation: showImage 0.5s linear 1 forwards;
}

@keyframes showImage {
  to {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

.slider.next .thumbnail .item:nth-last-child(1) {
  overflow: hidden;
  animation: showThumbnail 0.5s linear 1 forwards;
}

.slider.prev .list .item img {
  z-index: 100;
}

@keyframes showThumbnail {
  from {
    width: 0;
    opacity: 0;
  }
}

.slider.next .thumbnail {
  animation: effectNext 0.5s linear 1 forwards;
}

@keyframes effectNext {
  from {
    transform: translateX(150px);
  }
}

/* Animation for prev button click */
.slider.prev .list .item:nth-child(2) {
  z-index: 2;
}

.slider.prev .list .item:nth-child(2) img {
  animation: outFrame 0.5s linear 1 forwards;
  position: absolute;
  bottom: 0;
  left: 0;
}

@keyframes outFrame {
  to {
    width: 150px;
    height: 220px;
    bottom: 50px;
    left: 50%;
    border-radius: 20px;
  }
}

.slider.prev .thumbnail .item:nth-child(1) {
  overflow: hidden;
  opacity: 0;
  animation: showThumbnail 0.5s linear 1 forwards;
}

.slider.next .nextPrevArrows button,
.slider.prev .nextPrevArrows button {
  pointer-events: none;
}

.slider.prev .list .item:nth-child(2) .content .title,
.slider.prev .list .item:nth-child(2) .content .position,
.slider.prev .list .item:nth-child(2) .content .description,
.slider.prev .list .item:nth-child(2) .content .buttons {
  animation: contentOut 1.5s linear 1 forwards !important;
}

@keyframes contentOut {
  to {
    transform: translateY(-150px);
    filter: blur(20px);
    opacity: 0;
  }
}

@media screen and (max-width: 678px) {
  .slider .list .item .content {
    padding-right: 0;
  }

  .slider .list .item .content .title {
    font-size: 50px;
  }
}

footer {
    width: 100%;
    background-image: url('../images/g.jpg');
    filter: blur(0.2px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 40%;
    border-radius: 26px;
    box-shadow: -13px -13px 19px #d9cece,
            13px 13px 19px #fff6f6;
    position : relative;
    bottom: 0;
    margin-top: 1px;
}

.footer {
    width: 100%;
    background-color: rgba(175, 175, 175, 0.8);
        filter: blur(0.2px);
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: left;
    gap: 1%;
}

.footerSection {
    height: min-content;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    padding: 10px;

}

.footerSection a {
    font-size: 10px;
    color: white;
}